auto-save-list/
backup/
tmp/
org/
image-dired/
games/
ctags/tags/
eshell/lastdir
eshell/history
eshell/.#history
tramp
config/private.el
auto-complete-history
ede-projects.el
ac-comphist.dat
tags
elpa/*readme.txt
*.elc
